%a{:href => "https://github.com/yannski/swsxb2013"}
  %img{ :style => "position: absolute; top: 0; right: 0; border: 0;", :src => "https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png", :alt => "Fork me on GitHub"}
.page-header
  %h1 Startup Weekend Strasbourg 2013
%h2 Projects list

%h3 CCN 1er étage
%table.table.table-striped
  %thead
    %tr
      %th{style: "width: 100px;"} Room
      %th{style: "width: 100px;"} Project number
      %th Project name
      %th{style: "width: 100px;"} Links
  %tbody
    %tr
      %td 2
      %td #13
      %td J'aime mon artisan
      %td
    %tr
      %td 3
      %td #4
      %td ContAACt
      %td
        %a{:href => "https://twitter.com/contAACt_app", :target => "_blank", :class => "fa fa-twitter"}
        %a{:href => "https://www.facebook.com/contAACt", :target => "_blank", :class => "fa fa-facebook"}
    %tr
      %td 4
      %td #41
      %td Secret Candy
      %td
        %a{:href => "https://www.facebook.com/pages/Secret-Candy/184593435076775", :target => "_blank", :class => "fa fa-facebook"}

%h3 CCN 2ème étage
%table.table.table-striped
  %thead
    %tr
      %th{style: "width: 100px;"} Room
      %th{style: "width: 100px;"} Project number
      %th Project name
      %th{style: "width: 100px;"} Links
  %tbody
    %tr
      %td Amphi 9 (haut)
      %td #25
      %td Bouchon de Champagne
      %td

%h3 Portique 2ème étage
%table.table.table-striped
  %thead
    %tr
      %th{style: "width: 100px;"} Room
      %th{style: "width: 100px;"} Project number
      %th Project name
      %th{style: "width: 100px;"} Links
  %tbody
    %tr
      %td 201
      %td #2
      %td Easy Sunday
      %td
        %a{:href => "https://www.facebook.com/easysunday0", :target => "_blank", :class => "fa fa-facebook"}
    %tr
      %td 209
      %td #15
      %td
      %td
    %tr
      %td 210
      %td #22
      %td Trip in Procket
      %td
    %tr
      %td 211
      %td #29
      %td Escape SXB
      %td
    %tr
      %td 213
      %td #17
      %td Easy Web
      %td

%h3 Portique 4ème étage
%table.table.table-striped
  %thead
    %tr
      %th{style: "width: 100px;"} Room
      %th{style: "width: 100px;"} Project number
      %th Project name
      %th{style: "width: 100px;"} Links
  %tbody
    %tr
      %td 401
      %td #1
      %td Lost & Found
      %td
    %tr
      %td 410
      %td #27
      %td Take Away Incubator
      %td
    %tr
      %td 411
      %td #5
      %td C'est pour de vrai
      %td
        %a{:href => "https://twitter.com/cestpourdevrai", :target => "_blank", :class => "fa fa-twitter"}
        %a{:href => "https://www.facebook.com/cpourdevrai", :target => "_blank", :class => "fa fa-facebook"}
    %tr
      %td 412
      %td #12
      %td Get Met To Travel
      %td
    %tr
      %td 414
      %td #16
      %td Future Carrer
      %td
    %tr
      %td 415
      %td #21
      %td TripMate
      %td
        %a{:href => "https://twitter.com/_TripMate", :target => "_blank", :class => "fa fa-twitter"}
        %a{:href => "http://tripmate.herokuapp.com", :target => "_blank", :class => "fa fa-external-link"}
    %tr
      %td 416
      %td #31
      %td Ethylotest
      %td
