.page-header
  %h1 Startup Weekend Strasbourg 2013
%h2 Projects list

%h3 CCN 1er étage
%table.table.table-striped
  %thead
    %tr
      %td{style: "width: 100px;"} Room
      %td{style: "width: 100px;"} Project number
      %td Project name
  %tbody
    %tr
      %td 2
      %td #13
      %td Plate-forme du bâtiment
    %tr
      %td 3
      %td #4
      %td ContAACt
    %tr
      %td 4
      %td #41
      %td Wizz

%h3 CCN 2ème étage
%table.table.table-striped
  %thead
    %tr
      %td{style: "width: 100px;"} Room
      %td{style: "width: 100px;"} Project number
      %td Project name
  %tbody
    %tr
      %td Amphi 9 (haut)
      %td #25
      %td Bouchon de Champagne

%h3 Portique 2ème étage
%table.table.table-striped
  %thead
    %tr
      %td{style: "width: 100px;"} Room
      %td{style: "width: 100px;"} Project number
      %td Project name
  %tbody
    %tr
      %td 201
      %td #2
      %td Easy Sunday
    %tr
      %td 209
      %td #15
      %td
    %tr
      %td 210
      %td #22
      %td Trip in Procket
    %tr
      %td 211
      %td #29
      %td Escape SXB
    %tr
      %td 213
      %td #17
      %td Easy Web
%h3 Portique 4ème étage
%table.table.table-striped
  %thead
    %tr
      %td{style: "width: 100px;"} Room
      %td{style: "width: 100px;"} Project number
      %td Project name
  %tbody
    %tr
      %td 401
      %td #1
      %td Lost & Found
    %tr
      %td 411
      %td #5
      %td C'est pour de vrai
    %tr
      %td 412
      %td #12
      %td Get Met To Travel
    %tr
      %td 414
      %td #16
      %td Future Carrer
    %tr
      %td 415
      %td #21
      %td The Tripmate
    %tr
      %td 416
      %td #31
      %td Ethylotest
